.product {
    width: 50vh;
    margin: 1vh 0 0vh 0;
    background-color: #fff;
    padding: 3vh;
    border-radius: 20px;
    height: 24vh;
}

.productHeading {
    width: 50vh;
    display: flex;
    justify-content: space-between;
}

.top {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
}

.piechart {
    width: 50vh;
    height: 130px;
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;

}

.chart {
    width: 20vh;
}

.legends {
    display: flex;
    flex-direction: column;
    width: 24vh;
}

.green2,
.red2,
.yellow {
    width: 21vh;
    display: flex;
    align-items: center;
    margin: 1vh 1vh 0vh 3vh;

}

.greenDot,
.redDot,
.yellowDot {
    height: 1vh;
    width: 1vh;
    border-radius: 100%;
    margin-right: 1vh;
}

.redDot {
    background-color: rgb(138, 42, 42);
}

.greenDot {
    background-color: rgb(56, 36, 184);
}

.yellowDot {
    background-color: rgb(212, 176, 45);
}

.green2 p,
.yellow p,
.red2 p {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
}

.legends>p {
    color: #858585;
    font-size: 12px;
    font-family: Lato;
    margin-left: 5vh;
}